@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EBECF0;
}
body ,html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding: 0;
}
.flex-with-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-bold{
  font-weight: bold !important;
}
.font-bolder{
  font-weight: bolder !important;
}
.n-box-1{
  
  background: linear-gradient(145deg, #000c17, #000e1c);
  box-shadow:  7px 7px 14px #00050a,
               -7px -7px 14px #00152a;
}
.n-box-2{
  border-radius: 20px;
background: #EBECF0;
box-shadow:  5px 5px 0px #9d9ea1,
             -5px -5px 0px #ffffff;
}
.n-box-3{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}